:root {
  font-family: "Readex Pro", sans-serif;
  --negro: #111111;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title-container {
  flex-grow: 1;
  text-align: center;
}

.svg-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 0;  
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
}

.title-modal {
  text-align: center;
}

.btn-reserve{
  display: flex; 
  justify-content: center;
}

.input-box {
  margin-top: 2rem;
  display: flex;
}


.lblIni {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 100;
  justify-content: center;

}

.input-box input {
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  background-color: white;
  height: 2rem;
  width: 250px;
}

.control-error {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.control-error p{
  color: red;
  font-weight: bold;
}

.title {
  color: var(--negro);
  font-weight: 100;
  text-align: center;
}

.btn-submit {
  display: flex;
  text-align: center;
  justify-content: center;

}

.btn-submit button {
  font-size: 20px;
  background-color: var(--negro);
  color: white;
  border: none;
  font-family: "Readex Pro", sans-serif;
  font-weight: 200;
  border-radius: 200px;
  padding: 5px 2rem;
}